services:
   sql-client:
      user: flink:flink
      container_name: sqlclient
      build:
         context: dockerfiles
         dockerfile: Dockerfile.client
      networks:
         - iceberg_net
      depends_on:
         - jobmanager
         - mariadb
      environment:
         - MYSQL_HOST=mariadb
         - |
           FLINK_PROPERTIES=
           jobmanager.rpc.address: jobmanager
           rest.address: jobmanager
      volumes:
         - shared-tmpfs:/tmp/iceberg
   jobmanager:
      user: flink:flink
      container_name: jobmanager
      build:
         context: dockerfiles
         dockerfile: Dockerfile.main
      ports:
         - "8081:8081"
      command: jobmanager
      environment:
         - |
           FLINK_PROPERTIES=
           jobmanager.rpc.address: jobmanager            
      volumes:
         - shared-tmpfs:/tmp/iceberg
      networks:
         - iceberg_net
   taskmanager:
      user: flink:flink
      container_name: taskmanager
      build:
         context: dockerfiles
         dockerfile: Dockerfile.main
      depends_on:
         - jobmanager
      command: taskmanager
      environment:
         - |
           FLINK_PROPERTIES=
           jobmanager.rpc.address: jobmanager
           taskmanager.numberOfTaskSlots: 10            
      volumes:
         - shared-tmpfs:/tmp/iceberg
      networks:
         - iceberg_net
   mariadb:
      container_name: mariadb
      build:
         context: dockerfiles
         dockerfile: Dockerfile.mariadb
      environment:
         - MYSQL_ROOT_PASSWORD=mypass
      ports:
         - 3306:3306
      networks:
         - iceberg_net
   kafka:
      image: debezium/kafka:3.0.0.Final
      container_name: kafka
      networks:
         - iceberg_net
   kafka_connect:
      image: debezium/connect:3.0.0.Final
      container_name: kafka_connect
      networks:
         - iceberg_net
   debezium:
      image: debezium/server:3.0.0.Final
      container_name: debezium
      networks:
         - iceberg_net
volumes:
   shared-tmpfs:
      driver: local
      driver_opts:
         type: "tmpfs"
         device: "tmpfs"
networks:
   iceberg_net:
